service vendor.fingerprint-inscreen-1-0-m1872 /vendor/bin/hw/vendor.mokee.biometrics.fingerprint.inscreen@1.0-service.m1872
    interface vendor.mokee.biometrics.fingerprint.inscreen@1.0::IFingerprintInscreen default
    class hal
    user system
    group system
    shutdown critical
